In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
from matplotlib import pylab as plt

## Feature Engieering

In [2]:
df = df.groupby('Vehicle Body Type').filter(lambda x: len(x) > 700)

#Vehicle Body 1 SUV
SUVs = ['SUBN', 'UT', 'SW', 'WAGO', 'SU', 'LL', 'WG', 'SV']

for i in SUVs: 
    df['Vehicle Body Type'].replace({i:1}, inplace = True)
    
#Vehicle Body 2 SEDAN    
SEDAN = ['4DSD', 'SDN', '2DSD', 'SD', '4D', '4 DR', 
         'CONV', '4S', 'PV', 'CP', 'SEDN', 'ST', '2 DR','2D'
        'CV', 'SEDA', 'FOUR' '4W', '4H', '4DSE', 
        'FODO', '2S', 'CON', '4DOO', 'FOUR', '4W', '2D']

for i in SEDAN: 
    df['Vehicle Body Type'].replace({i:2}, inplace = True)

df['Vehicle Body Type'].replace({'CV':2}, inplace = True)

#Vehicle Body 3 Van 
Van = ['VAN', 'DELV','VN', 'Van']
for i in Van: 
    df['Vehicle Body Type'].replace({i:3}, inplace = True)


#Vehicle Body 4 Truck 
Trucks = ['TOW', 'DELV', 'PICK', 'REFG', 'UTIL', 
          'TK', 'PK', 'FLAT', 'PU', 'TR/C', 'PKUP', 'TRK', 
         'SEMI', 'STAK', 'Truc', "TRUC", 'Carg', 'T/CR', 'TRAC', 'P-U']
for i in Trucks: 
    df['Vehicle Body Type'].replace({i:4}, inplace = True)

#Vehicle Body 5 Bike
Bikes = ['MCY', "MP", 'MOPD', 'MC', ]
for i in Bikes: 
    df['Vehicle Body Type'].replace({i:5}, inplace = True)

#Vehicle Body 6 Trailers
Hang = ['TRLR', 'TRL', 'TRAI', 'TANK', 'TLR']


for i in Hang: 
    df['Vehicle Body Type'].replace({i:6}, inplace = True)

    
#Vehicle Body 7 Publically Utilized Transit 
Public = ['TAXI', 'BUS', 'DUMP', ]

for i in Public: 
    df['Vehicle Body Type'].replace({i:7}, inplace = True)

#Vehicle Body 8 Misc
MISC = ['BOAT', '5D', 'HB', 'CG', 'MOBL', 'H/WH', 'APUR']
for i in MISC: 
    df['Vehicle Body Type'].replace({i:8}, inplace = True)
    
df["Vehicle Body Type"].value_counts()

1    4560546
2    3903811
3    1650778
4     601250
7      73119
5      68449
6      43809
8      22886
Name: Vehicle Body Type, dtype: int64

In [3]:
df = df.groupby('Vehicle Make').filter(lambda x: len(x) > 700)

#1 japan 
japan = ['HONDA', 'TOYOT','NISSA', 'LEXUS', 'ACURA', 
         'INFIN', 'SUBAR', 'MAZDA', 'HIN', 'ISUZU', 'MITSU',
        'SUZUK', 'UD', 'YAMAH', 'SCION', 'KAWAS', 'Nissa', 'Toyot', 'Honda']

for i in japan: 
    df['Vehicle Make'].replace({i:1}, inplace = True)

#2 usa 
usa = ['FORD', 'CHEVR', 'JEEP', 'FRUEH', 'DODGE', 
       'GMC', 'INTER', 'CHRYS', 'CADIL', 'LINCO', 'WORKH', 
       'BUICK', 'KENW', 'TESLA', 'MERCU', 'PETER', 'SATUR', 'PONTI', 
      "MACK", 'HARLE', 'HUMME', 'OLDSM', 'Chevr', 'FORD', 
       'THOMA', 'STERL', 'FONTA', 'STARC', 'TRAIL', 'PLYMO', 'TRAC', 'Dodge']

for i in usa: 
    df['Vehicle Make'].replace({i:2}, inplace = True)

#3 germany 
germany = ['ME/BE', 'BMW', 'VOLKS', 'AUDI', 'PORSC', 'NIU', 'SMART']

for i in germany: 
    df['Vehicle Make'].replace({i:3}, inplace = True)

#4 italy
italy = ['FIAT', 'MASE', 'ALFAR', 'VESPA', 'TRIUM', 'DUCAT', 'LAMBO']

for i in italy: 
    df['Vehicle Make'].replace({i:4}, inplace = True)
    
#5 korea
korea = ['HYUND', 'KIA', 'HYUN', 'GENES']
for i in korea: 
    df['Vehicle Make'].replace({i:5}, inplace = True)

#6 uk
uk = ['ROVER', 'MINI', 'JAGUA', 'BENTL']
for i in uk: 
    df['Vehicle Make'].replace({i:6}, inplace = True)

#7 sweden
sweden = ['VOLVO', 'SAAB']
for i in sweden: 
    df['Vehicle Make'].replace({i:7}, inplace = True)

#8 canada
canada = ['MCI', 'PREVO']
for i in canada: 
    df['Vehicle Color'].replace({i:8}, inplace = True)

#other
df['Vehicle Make'].replace({'KENWO':2, 'Ford':2, 'IC':2, 'Gener':2}, inplace = True)
df['Vehicle Make'].replace({'MCI': 8, 'PREVO':8}, inplace = True)
df['Vehicle Make'].replace({'GREAT': 9, 'VANHO':9, 'NS':9, 'NS/OT':9, 'UTILI':9, 'SPRI':9}, inplace = True)
df['Vehicle Make'].value_counts()

1    4775777
2    3837992
3    1396754
5     489834
6     149276
7      89908
9      88440
4      31796
8       2917
Name: Vehicle Make, dtype: int64

In [4]:
df = df.groupby('Vehicle Color').filter(lambda x: len(x) > 500)
#1 = grey 
Grey = ['GY', 'GR', 'GREY', 'SILVE', 'GL', 'GRY', 'GRAY', 'SIL','GY.', 'LTGY', 
       'LTG', 'LT/', 'SL.', 'SL', 'DKGY', 'GYGY', 'DKG', 'BKGY', 
        'WHGY', 'SILV', 'BLGY', 'G', 'GY/', 'GRAY.', 'GRY.', 
        'GYGR', 'RDGY', 'LTGR', 'GREY.']

for i in Grey: 
    df['Vehicle Color'].replace({i:1}, inplace = True)
    
#2 purple 
purple = ['PR', 'PURPL', 'LAVEN', 'NOCL']

for i in purple: 
    df['Vehicle Color'].replace({i:2}, inplace = True)
    
#3 while 
White = ['WH', 'WHITE', 'WHI', 'WHT', 'WT', 'WT.', 'W', 'WG.', 'WH/', 'WHT.']
for i in White:
    df['Vehicle Color'].replace({i:3}, inplace = True)

df['Vehicle Color'].replace({"WH.":3}, inplace = True)

#4 Black 
Black = ['BK', 'BLACK', 'BLK', 'BK.', 'DK/', 'BLK.']
for i in Black: 
    df['Vehicle Color'].replace({i:4}, inplace = True)

#5 red
red = ['RD','RED', 'MR', 'RD.', 'RED.', 'DKRD', 'MAR', 'MAROO', 'DKR', 'RDW']
for i in red: 
    df['Vehicle Color'].replace({i:5}, inplace = True)

#6 brown
brown = ['BROWN', 'BR', 'BRO', 'BRN', 'BN', 'BRW' ]
for i in brown: 
    df['Vehicle Color'].replace({i:6}, inplace = True)

#7 orange
orange = ['OR', 'ORANG']
for i in orange: 
    df['Vehicle Color'].replace({i:7}, inplace = True)

#8 blue
blue = ['BLUE', 'BLU', 'B', 'DKB', 'BLUE.', 'LTBL', 'BL.', 
        'WHBL', 'DKBL', 'BKBL', 'GYBL', 'LTB', 'BLW', 'WHB']
for i in blue: 
    df['Vehicle Color'].replace({i:8}, inplace = True)

df['Vehicle Color'].replace({"BL":8}, inplace = True)

#9 yellow
yellow = ['YW', 'YELLO', 'GOLD', 'GLD', 'YEL', 'YELL']
for i in yellow: 
    df['Vehicle Color'].replace({i:9}, inplace = True)

#10 green
green = ['GN', 'GRN', 'GN ', 'GN.', 'DKGR']
for i in green: 
    df['Vehicle Color'].replace({i:10}, inplace = True)
    
df['Vehicle Color'].replace({"GREEN":10}, inplace = True)

#11 tan
tan = ['TN', 'TAN', 'BGE']
for i in tan: 
    df['Vehicle Color'].replace({i:11}, inplace = True)

#12 misc 
MISC = ['UNKNO', 'OTHER', 'UNK', 'NOC']
for i in MISC: 
    df['Vehicle Color'].replace({i:12}, inplace = True)

df['Vehicle Color'].value_counts()

3     2920205
1     2893506
4     2368015
8      887734
5      594968
6      321986
11     117767
9      113333
12      59820
10      54191
7       32577
2       11399
Name: Vehicle Color, dtype: int64

In [5]:
#1
northeast = ['CT', 'ME', 'NH', 'RI', 'VT', 'NJ', 'NY', 'PA', 'MA']
for i in northeast: 
    df['Registration State'].replace({i:1}, inplace = True)


#2
midwest = ['IL', 'IN', 'MI', 'OH', 'WI', 'IA', 'KS', 'MO', 'NE', 'ND', 'SD', 'MN']
for i in midwest: 
    df['Registration State'].replace({i:2}, inplace = True)

#3
south = ['DE', 'FL', 'GA', 'MD', 'NC', 'SC', 'DC', 
         'WV', 'AL', 'KY', 'MS', 'TN', 'AR', 'LA','OK', 'TX', 'VA']

for i in south: 
    df['Registration State'].replace({i:3}, inplace = True)
    
#4
west = ["AZ", 'CO', 'ID', 'MT', 'NV', 'NM', 'UT', 'WY', 'AK', 
       'CA', 'HI', 'OR', 'WA']

for i in west: 
    df['Registration State'].replace({i:4}, inplace = True)
    

    
#5 

international = ['ON', 'QB', 'PR','AB', 'BC', 'NS', 'FO','NB', 'MB', 'PE', 'SK', 'MX', 'YT']
for i in international: 
    df['Registration State'].replace({i:5}, inplace = True)
    
#6 government plates 

gov = ['GV', 'DP']
for i in gov: 
     df['Registration State'].replace({i:6}, inplace = True)

In [6]:
df['Registration State'].value_counts()

1     9535053
3      538795
2      198424
4       68415
6       15413
99      13198
5        6203
Name: Registration State, dtype: int64

In [7]:
#1
emergency = ['AMB', 'CME', 'MED', 'VAS', 'SNO']
for i in emergency:
     df['Plate Type'].replace({i:1}, inplace = True)

#2
military = ['ARG', 'AYG', 'NLM', 'STG']
for i in military:
     df['Plate Type'].replace({i:2}, inplace = True)
                               
#3
veteran = ['CMH', 'FPW', 'JWV', 'MCL', 'PHS', 'PPH', 'SOS', 'GSM']
for i in veteran:
     df['Plate Type'].replace({i:3}, inplace = True)
                               
#4
government = ['CBS', 'CCK', 'CLG', 'GAC', 'GSC', 'JCA', 'JCL', 'JSC', 
              'NYA', 'NYC', 'NYS', 'PSD', 'SRN', 'STA', 'SUP', 'USC', 'USS', 'EDU']
for i in government:
     df['Plate Type'].replace({i:4}, inplace = True)                               
#5
ag = ['AGR', 'FAR', 'TRC', 'AGC']
for i in ag:
     df['Plate Type'].replace({i:5}, inplace = True)                               

#6
motorcycle = ['LMA', 'LMB', 'LMC', 'MOT', 'HSM']
for i in motorcycle:
     df['Plate Type'].replace({i:6}, inplace = True)

#7
civ = ['PAS', 'OMS', 'RGL', 'SRF', 'HIS', 'ATV', 'ORG', 'LUA']
for i in civ:
     df['Plate Type'].replace({i:7}, inplace = True)

#8
dealer = ['ATD', 'MCD', 'DLR']
for i in dealer:
     df['Plate Type'].replace({i:8}, inplace = True)

#9
commercial = ['CHC', 'COM', 'CSP', 'ORC', 'RGC', 'SPC', 'SEM']
for i in commercial:
     df['Plate Type'].replace({i:9}, inplace = True)

#10
trailer = ['LTR', 'HOU']
for i in trailer:
     df['Plate Type'].replace({i:10}, inplace = True)
        
#11 public 

public = ['OMO', 'OMR', 'ORM', 'OMT', 'OMV', 'OML', 'OMF', 'VPL', 'SCL']
for i in public:
     df['Plate Type'].replace({i:11}, inplace = True)
        
#12 
sports = ['BOB', 'SPO', 'WUG']
for i in sports:
     df['Plate Type'].replace({i:12}, inplace = True)

#13 
ex_NYC = ['CMB', 'IRP', 'ITP']
for i in ex_NYC:
     df['Plate Type'].replace({i:13}, inplace = True)

#14 
misc = ['HAC', 'HAM', 'GFC', 'BOT', 'LOC']
for i in misc:
     df['Plate Type'].replace({i:14}, inplace = True)

#15 
carrier = ['TOW', 'TRA', 'THC', 'TRL', 'HIF', 'HIR']
for i in carrier:
     df['Plate Type'].replace({i:15}, inplace = True)
        
#16 
unknown = ['APP', '999']
for i in unknown: 
    df['Plate Type'].replace({i:16}, inplace = True)

In [8]:
df['Plate Type'].value_counts()

7     8327391
9     1399376
11     411608
16     101202
6       48351
13      18083
1       18082
12      13938
5       13271
4       11420
15       8803
8        2013
3        1327
2         477
14        147
10         12
Name: Plate Type, dtype: int64

In [9]:
#MAKE DIFFERENT BUCKETS FOR COMPETING GROUPS 


#Diplomat
df["Violation Code"].replace({28:100, 64:100, 65:100, 81:100}, inplace = True)

#Bus
df["Violation Code"].replace({1:200, 2:200, 3:200, 4:200, 5:200, 29:200, 79:200, 77:200}, inplace = True)

#Moving Violation 
df["Violation Code"].replace({7:300, 8:300, 12:300, 36:300}, inplace = True)

#No Parking
df["Violation Code"].replace({20:400, 21:400, 24:400, 63:400, 27:400}, inplace = True)

#Trailer 
df["Violation Code"].replace({6:500, 66:500}, inplace = True)

#Blocking 
df["Violation Code"].replace({9:600, 45:600, 49:600, 98:600, 54:600, 40:600, 67:600}, inplace = True)

#Credentials 
df["Violation Code"].replace({70:700, 71:700, 72:700, 73:700, 74:700, 75:700, 76:700, 83:700, 87:700, 33:700}, inplace = True)

#Commerical Violations  
df["Violation Code"].replace({78:800, 82:800, 84:800, 59:800, 85:800, 88:800}, inplace = True)

#Metered Violations  
df["Violation Code"].replace({32:900, 34:900, 37:900, 38:900, 31:900, 42:900, 39:900, 69:900, 44:900, 43:900}, inplace = True)

#Geographic Violations   
df["Violation Code"].replace({86:1000, 89:1000, 47:1000, 58:1000, 57:1000}, inplace = True)

#Taxi 
df["Violation Code"].replace({13:1100, 22:1100, 23:1100}, inplace = True)

#Credentials 
df["Violation Code"].replace({10:1200, 14:1200, 15:1200, 17:1200, 16:1200, 18:1200, 19:1200, 25:1200, 26:1200, 30:1200, 11:1200}, inplace = True)


#Highway 
df["Violation Code"].replace({55:1300, 56:1300}, inplace = True)
    

#Proximity Parking  
df["Violation Code"].replace({51:1400, 52:1400, 50:1400, 46:1400, 48:1400, 53:1400, 60:1400, 62:1400, 97:1400, 96:1400, 61:1400, 68:1400}, inplace = True)


#Equipment 
df["Violation Code"].replace({80:1500, 93:1500, 92:1500}, inplace = True)


#Commerce 
df["Violation Code"].replace({35:1600, 91:1600, 90:1600}, inplace = True)

#Other 
df["Violation Code"].replace({41:1700, 99:1700, 94:1700}, inplace = True)

#drop values not in data dictionary 0,95
df = df[df["Violation Code"] != 95]
df = df[df["Violation Code"] != 0]

In [10]:
new_year = []
for i in df['Vehicle Year']:
    if i == 0:
        new_year.append(np.nan)
    else:
        new_year.append(i)
        
df['Vehicle Year'] = new_year

In [11]:
#create categorical variable for ease of use 
df["Range"] = df["From Hours In Effect"] + df["To Hours In Effect"]

range_array = []
for i in df['Range']:
    try:
        i = str(i)
        if i[:3] == "ALL":
            range_array.append("ALL")
        elif (i[4] == 'A') & (i[-1] == 'A'):
            i = i[0:2] +":" +i[2:4] + "AM - " + i[5:7] +":" +i[7:9] + "AM"
            range_array.append(i)

        elif (i[4] == 'A') & (i[-1] == 'P'):
            i = i[0:2] +":" +i[2:4] + "AM - " + i[5:7] +":" +i[7:9] + "PM"
            range_array.append(i)

        elif (i[4] == 'P') & (i[-1] == 'A'):
            i = i[0:2] +":" +i[2:4] + "PM - " + i[5:7] +":" +i[7:9] + "AM"
            range_array.append(i)


        elif (i[4] == 'P') & (i[-1] == 'P'):
            i = i[0:2] +":" +i[2:4] + "PM - " + i[5:7] +":" +i[7:9] + "PM"
            range_array.append(i)

        else:
            range_array.append(np.nan)
    except: 
        range_array.append(np.nan)

df['Range'] = range_array

new_dropped = ["From Hours In Effect", "To Hours In Effect"]
df = df.drop(new_dropped, axis = 1)

In [12]:
#Vehicle Expiration Date 
expiration_array = []
for i in df['Vehicle Expiration Date']: 
    if i == 0: 
        expiration_array.append(np.nan)
    elif i != 0:
        i = str(i)
        i = i[:4] + "-" + i[4:6] + '-' + i[6:]
        expiration_array.append(i)
    else:
        expiration_array(np.nan)

df['Vehicle Expiration Date']  = expiration_array
df['Vehicle Expiration Date'] = pd.to_datetime(df['Vehicle Expiration Date'], format = '%Y-%m-%d', errors = 'ignore')

In [13]:
pd.set_option('display.max_columns', 500)
df.head()

,Unnamed: 0,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,Street Code2,Street Code3,Vehicle Expiration Date,Violation Location,Violation Precinct,Issuer Precinct,Issuer Code,Issuer Command,Issuer Squad,Violation Time,Time First Observed,Violation County,Violation In Front Of Or Opposite,House Number,Street Name,Intersecting Street,Date First Observed,Law Section,Sub Division,Violation Legal Code,Days Parking In Effect,Vehicle Color,Unregistered Vehicle?,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation,Year Set,Range
0,8778924,8760192677,37222MM,1,9,02/05/2020 12:00:00 AM,900,3,2,T,41420,27750,27780,2020-11-30,52.0,52,52,365891,T201,D,1205P,NaN,2.0,F,3128,Hull Ave,NaN,0,408,I4,NaN,YYYYYY,3,NaN,2018.0,NaN,0,06,NaN,NaN,NaN,NaN,2020,09:00AM - 07:00PM
1,2028567,8702745926,JAK2471,1,7,08/15/2019 12:00:00 AM,700,1,1,T,28500,10620,15620,2020-06-12,47.0,47,47,363540,T201,B,0942A,NaN,2.0,F,811,E 229th St,NaN,0,408,J6,NaN,YYYYYYY,4,NaN,2002.0,NaN,0,18,NaN,NaN,NaN,NaN,2020,NaN
2,4137399,4668603510,603180,1,7,10/04/2019 12:00:00 AM,300,2,1,V,0,0,0,NaN,NaN,0,0,0,NaN,NaN,0215P,NaN,3.0,NaN,NaN,EB CONDUIT BLVD @ GL,ENMORE AVE,0,1180,B,T,NaN,1,NaN,2016.0,NaN,0,NaN,PHTO SCHOOL ZN SPEED VIOLATION,NaN,NaN,NaN,2020,NaN
3,5917949,8728844683,XGKW92,1,7,11/18/2019 12:00:00 AM,900,3,1,T,0,40404,40404,8888-00-88,28.0,28,28,365861,T103,O,1018A,NaN,1.0,O,2168,Frederick Douglass B,NaN,0,408,I4,NaN,YYYYYY,3,NaN,NaN,NaN,0,46,NaN,NaN,NaN,NaN,2020,10:00AM - 07:00PM
4,9388021,4013156477,T700579C,1,11,02/20/2020 12:00:00 AM,200,2,5,V,0,0,0,NaN,NaN,0,0,0,NaN,NaN,1032A,NaN,1.0,NaN,NaN,EB E 14TH STREET @ B,ROADWAY,0,1111,C,T,NaN,1,NaN,2016.0,NaN,0,NaN,BUS LANE VIOLATION,NaN,NaN,NaN,2020,NaN

In [14]:
#check percentage of missing data for columns 
df.isna().mean().round(4) * 100

Unnamed: 0                             0.00
Summons Number                         0.00
Plate ID                               0.00
Registration State                     0.00
Plate Type                             0.00
Issue Date                             0.00
Violation Code                         0.00
Vehicle Body Type                      0.00
Vehicle Make                           0.00
Issuing Agency                         0.00
Street Code1                           0.00
Street Code2                           0.00
Street Code3                           0.00
Vehicle Expiration Date               33.62
Violation Location                    32.38
Violation Precinct                     0.00
Issuer Precinct                        0.00
Issuer Code                            0.00
Issuer Command                        32.12
Issuer Squad                          32.42
Violation Time                         0.00
Time First Observed                   95.81
Violation County                       0.20
Violation In Front Of Or Opposite     32.56
House Number                          33.05
Street Name                            0.01
Intersecting Street                   57.80
Date First Observed                    0.00
Law Section                            0.00
Sub Division                           0.00
Violation Legal Code                  67.88
Days Parking In Effect                32.19
Vehicle Color                          0.00
Unregistered Vehicle?                 95.50
Vehicle Year                          20.12
Meter Number                          92.21
Feet From Curb                         0.00
Violation Post Code                   36.91
Violation Description                 44.94
No Standing or Stopping Violation    100.00
Hydrant Violation                    100.00
Double Parking Violation             100.00
Year Set                               0.00
Range                                 61.84
dtype: float64

In [15]:
#remove based off percentage missing  - 90% and above
remove_na = ["Time First Observed", "Meter Number", "Unregistered Vehicle?", "No Standing or Stopping Violation", "Hydrant Violation", "Double Parking Violation"]
df = df.drop(remove_na, axis = 1)

In [16]:
df = df.drop('Unnamed: 0', axis = 1) 
df.shape

(10374754, 37)

In [4]:
#drop values if county code is missing 
df = df[df['Violation County'].notna()]

In [5]:
df = df[((df['House Number'].notna())&(df['Street Name'].notna()))]

## Checkpoint, before we remove extraneous info

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
from matplotlib import pylab as plt

In [2]:
df = pd.read_csv("Clean Part One.csv")

C:\Users\hcho1\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (35) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df = df.drop('Unnamed: 0', axis = 1)

In [5]:
df['Violation Code'].value_counts()

400     1818122
900     1486729
1200    1351175
700      805628
1400     614182
600      575172
800      124405
1000      83626
1100      24748
500       19068
100       10550
200        8930
1700       2193
1500       1538
300        1168
1600        752
1300        316
Name: Violation Code, dtype: int64

In [6]:
#Getting Rid of Columns that do not have data that pertains to our analysis 

remove_extr = ["Street Code1", 'Street Code2', 'Street Code3', 'Violation Location', 'Issuer Precinct', 
               'Issuer Code', 'Issuer Command', 'Issuer Squad', 'Law Section', 'Violation Legal Code',
               'Days Parking In Effect', 'Violation Post Code', 'Violation Description', 'Date First Observed', 'Violation Precinct']

df = df.drop(remove_extr, axis = 1)

In [7]:
#In front
df["Violation In Front Of Or Opposite"].replace({'F':1, "I":1, "R":1}, inplace = True)

#Opposite
df["Violation In Front Of Or Opposite"].replace({"O":2}, inplace = True)
df["Violation In Front Of Or Opposite"].value_counts()

1.0    5272994
2.0    1648858
Name: Violation In Front Of Or Opposite, dtype: int64

In [8]:
df.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Vehicle Expiration Date,...,Violation In Front Of Or Opposite,House Number,Street Name,Intersecting Street,Sub Division,Vehicle Color,Vehicle Year,Feet From Curb,Year Set,Range
0,8760192677,37222MM,1,9,02/05/2020 12:00:00 AM,900,3,2,T,2020-11-30,...,1.0,3128,Hull Ave,NaN,I4,3,2018.0,0,2020,09:00AM - 07:00PM
1,8702745926,JAK2471,1,7,08/15/2019 12:00:00 AM,700,1,1,T,2020-06-12,...,1.0,811,E 229th St,NaN,J6,4,2002.0,0,2020,NaN
2,8728844683,XGKW92,1,7,11/18/2019 12:00:00 AM,900,3,1,T,8888-00-88,...,2.0,2168,Frederick Douglass B,NaN,I4,3,NaN,0,2020,10:00AM - 07:00PM
3,8778101189,79351JZ,1,9,11/08/2019 12:00:00 AM,900,3,2,T,2021-06-30,...,1.0,S,E 46th St,200ft W/of Lexington,H1,3,2009.0,0,2020,07:00AM - 06:00PM
4,8751971010,31410MG,1,9,08/16/2019 12:00:00 AM,400,3,2,T,8888-00-88,...,1.0,402,W Broadway,NaN,D,3,2006.0,0,2020,08:00AM - 06:00PM

In [9]:
pd.options.display.max_rows = 2000

In [10]:
df['Sub Division'].value_counts()

D1    1129116
C      663657
I4     551007
D      538810
H1     529249
E2     493827
F1     348513
J6     312530
I3     286443
J3     209296
C3     207060
K2     195336
J2     163998
d1     103013
C4      96217
h1      80027
L2      70059
E5      67605
E9      61071
L3      59110
K7      55994
B       47395
c       44615
j6      40587
e2      39192
E3      38694
d       37700
F6      35164
F4      30504
F2      27157
K6      26761
K1      22119
H0      18268
K4      17817
C1      16844
j3      15808
J7      15526
A1      15162
j2      14515
c3      14168
k2      13717
l3      12947
f1      10795
J5      10418
M1      10047
C8       9989
K5       8097
O3       7869
E1       6391
C5       6366
c4       6296
M5       5847
C2       5817
l2       5802
e5       5204
k7       3653
e9       3647
M2       3517
b        3432
J4       3215
F7       2888
e3       2717
D4       2618
f6       2603
J9       2458
f4       1933
k6       1636
k1       1614
N8       1514
D3       1472
m1       1384
5        1353
k4       1194
99       1152
C7       1145
J1       1124
c1       1123
P1       1013
j5        981
a1        974
L4        963
I         877
D5        859
L6        815
E4        762
j7        564
o3        543
k5        482
c2        464
E6        438
C6        429
c5        416
N1        381
D7        356
H8        355
j9        328
E8        319
H5        313
j1        278
f2        254
d4        223
F3        202
j4        190
m2        189
m5        153
K3        103
l4         93
n8         92
c7         85
P          82
e4         74
N5         73
D2         64
f7         63
F5         57
H2         40
d3         39
n1         34
G2         32
e6         32
e1         31
p          30
h5         29
c6         28
E7         17
N2         14
H7         13
H3          9
k3          8
e8          8
h7          6
G3          5
L           3
8           2
11          1
Name: Sub Division, dtype: int64

In [11]:
import re 
letters = re.compile(r'[A-Z]')

division_array = []

for j in df['Sub Division']:
    j = str(j)
    j = j.upper()
    if letters.search(j):
        division_array.append(j[0])
    else:
        division_array.append("unknown")
        

df['Sub Division']  = division_array
df['Sub Division'].value_counts()

D          1814270
C          1074719
I           838327
J           791816
E           720029
H           628309
F           460133
K           348531
L           149792
B            50827
M            21137
A            16136
O             8412
unknown       2508
N             2194
P             1125
G               37
Name: Sub Division, dtype: int64

In [12]:
df['Date'] = pd.to_datetime(df['Issue Date']).dt.date
df['Time'] = pd.to_datetime(df['Issue Date']).dt.time
df['Year'] = pd.to_datetime(df['Date']).dt.year
df['Month'] = pd.to_datetime(df['Date']).dt.month
df['Day'] = pd.to_datetime(df['Date']).dt.day

In [14]:
df.head()

,Summons Number,Plate ID,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Vehicle Expiration Date,Violation Time,...,Sub Division,Vehicle Color,Vehicle Year,Feet From Curb,Year Set,Range,Date,Year,Month,Day
0,8760192677,37222MM,1,9,900,3,2,T,2020-11-30,1205P,...,I,3,2018.0,0,2020,09:00AM - 07:00PM,2020-02-05,2020,2,5
1,8702745926,JAK2471,1,7,700,1,1,T,2020-06-12,0942A,...,J,4,2002.0,0,2020,NaN,2019-08-15,2019,8,15
2,8728844683,XGKW92,1,7,900,3,1,T,8888-00-88,1018A,...,I,3,NaN,0,2020,10:00AM - 07:00PM,2019-11-18,2019,11,18
3,8778101189,79351JZ,1,9,900,3,2,T,2021-06-30,0836A,...,H,3,2009.0,0,2020,07:00AM - 06:00PM,2019-11-08,2019,11,8
4,8751971010,31410MG,1,9,400,3,2,T,8888-00-88,1003A,...,D,3,2006.0,0,2020,08:00AM - 06:00PM,2019-08-16,2019,8,16

In [15]:
df['Vehicle Expiration Date'] = pd.to_datetime(df["Vehicle Expiration Date"], errors = 'coerce')
df

,Summons Number,Plate ID,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Vehicle Expiration Date,Violation Time,...,Sub Division,Vehicle Color,Vehicle Year,Feet From Curb,Year Set,Range,Date,Year,Month,Day
0,8760192677,37222MM,1,9,900,3,2,T,2020-11-30,1205P,...,I,3,2018.0,0,2020,09:00AM - 07:00PM,2020-02-05,2020,2,5
1,8702745926,JAK2471,1,7,700,1,1,T,2020-06-12,0942A,...,J,4,2002.0,0,2020,NaN,2019-08-15,2019,8,15
2,8728844683,XGKW92,1,7,900,3,1,T,NaT,1018A,...,I,3,NaN,0,2020,10:00AM - 07:00PM,2019-11-18,2019,11,18
3,8778101189,79351JZ,1,9,900,3,2,T,2021-06-30,0836A,...,H,3,2009.0,0,2020,07:00AM - 06:00PM,2019-11-08,2019,11,8
4,8751971010,31410MG,1,9,400,3,2,T,NaT,1003A,...,D,3,2006.0,0,2020,08:00AM - 06:00PM,2019-08-16,2019,8,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6928297,8843424210,ETT7044,1,7,900,2,2,T,2021-07-14,0931A,...,H,1,2018.0,0,2021,08:00AM - 07:00PM,2021-01-20,2021,1,20
6928298,8815028687,GGY6367,1,7,900,1,3,T,2021-06-20,0924A,...,I,4,2019.0,0,2021,09:00AM - 07:00PM,2020-10-17,2020,10,17
6928299,8978154220,JPN2703,1,7,1400,2,1,T,2022-02-20,1227P,...,F,4,2018.0,0,2021,NaN,2021-05-18,2021,5,18
6928300,8660684564,SEPT22,1,7,400,2,2,T,2022-01-22,0643A,...,D,5,2003.0,0,2021,NaN,2020-09-17,2020,9,17
6928301,8914760881,KJC4090,1,7,1200,1,3,T,2022-12-08,0710A,...,K,3,2016.0,0,2021,07:00AM - 06:00PM,2021-04-08,2021,4,8

In [16]:
new_column = []
for i in df['Violation Time']:
    i = str(i)
    if i[-1] == 'P':
        i = i[0:2] +":" +i[2:4] + " " +i[-1]+"M"
        new_column.append(i)

    elif (i[-1] == 'A'):
        i = i[0:2] +":" +i[2:4] + " " +i[-1]+"M"
        new_column.append(i)
    
    else:
        new_column.append(np.nan)
        
df['Violation Time'] = new_column
        
df = df.groupby('Violation Time').filter(lambda x: len(x) > 2)

In [17]:
df['index'] = range(1,len(df)+1)

SyntaxError: invalid syntax (Temp/ipykernel_27484/1951995059.py, line 1)

In [19]:
remove_ids= ["Summons Number", "Plate ID"]
df = df.drop(remove_ids, axis = 1)

In [21]:
pd.set_option('display.max_columns', 500)
df

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Vehicle Expiration Date,Violation Time,Violation County,Violation In Front Of Or Opposite,House Number,Street Name,Intersecting Street,Sub Division,Vehicle Color,Vehicle Year,Feet From Curb,Year Set,Range,Date,Year,Month,Day,index
0,1,9,900,3,2,T,2020-11-30,12:05 PM,2.0,1.0,3128,Hull Ave,NaN,I,3,2018.0,0,2020,09:00AM - 07:00PM,2020-02-05,2020,2,5,1
1,1,7,700,1,1,T,2020-06-12,09:42 AM,2.0,1.0,811,E 229th St,NaN,J,4,2002.0,0,2020,NaN,2019-08-15,2019,8,15,2
2,1,7,900,3,1,T,NaT,10:18 AM,1.0,2.0,2168,Frederick Douglass B,NaN,I,3,NaN,0,2020,10:00AM - 07:00PM,2019-11-18,2019,11,18,3
3,1,9,900,3,2,T,2021-06-30,08:36 AM,1.0,1.0,S,E 46th St,200ft W/of Lexington,H,3,2009.0,0,2020,07:00AM - 06:00PM,2019-11-08,2019,11,8,4
4,1,9,400,3,2,T,NaT,10:03 AM,1.0,1.0,402,W Broadway,NaN,D,3,2006.0,0,2020,08:00AM - 06:00PM,2019-08-16,2019,8,16,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6928297,1,7,900,2,2,T,2021-07-14,09:31 AM,3.0,2.0,1608,Coney Island Ave,NaN,H,1,2018.0,0,2021,08:00AM - 07:00PM,2021-01-20,2021,1,20,6928074
6928298,1,7,900,1,3,T,2021-06-20,09:24 AM,4.0,1.0,E,69th Ave,30ft N/of Queens Blv,I,4,2019.0,0,2021,09:00AM - 07:00PM,2020-10-17,2020,10,17,6928075
6928299,1,7,1400,2,1,T,2022-02-20,12:27 PM,3.0,1.0,931,Flatbush Ave,NaN,F,4,2018.0,0,2021,NaN,2021-05-18,2021,5,18,6928076
6928300,1,7,400,2,2,T,2022-01-22,06:43 AM,2.0,1.0,13A,Cooper Pl,NaN,D,5,2003.0,0,2021,NaN,2020-09-17,2020,9,17,6928077
6928301,1,7,1200,1,3,T,2022-12-08,07:10 AM,1.0,1.0,510,E 23rd St,NaN,K,3,2016.0,0,2021,07:00AM - 06:00PM,2021-04-08,2021,4,8,6928078

In [ ]:
for i, j in enumerate()

In [22]:
df.to_csv("Cleaned Data - Final.csv")

In [2]:
df2 = pd.read_csv("Cleaned Data - Final.csv")

In [3]:
df2

,Unnamed: 0,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Vehicle Expiration Date,Violation Time,Violation County,...,Vehicle Color,Vehicle Year,Feet From Curb,Year Set,Range,Date,Year,Month,Day,index
0,0,1,9,900,3,2,T,2020-11-30,12:05 PM,2.0,...,3,2018.0,0,2020,09:00AM - 07:00PM,2020-02-05,2020,2,5,1
1,1,1,7,700,1,1,T,2020-06-12,09:42 AM,2.0,...,4,2002.0,0,2020,NaN,2019-08-15,2019,8,15,2
2,2,1,7,900,3,1,T,NaN,10:18 AM,1.0,...,3,NaN,0,2020,10:00AM - 07:00PM,2019-11-18,2019,11,18,3
3,3,1,9,900,3,2,T,2021-06-30,08:36 AM,1.0,...,3,2009.0,0,2020,07:00AM - 06:00PM,2019-11-08,2019,11,8,4
4,4,1,9,400,3,2,T,NaN,10:03 AM,1.0,...,3,2006.0,0,2020,08:00AM - 06:00PM,2019-08-16,2019,8,16,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6928073,6928297,1,7,900,2,2,T,2021-07-14,09:31 AM,3.0,...,1,2018.0,0,2021,08:00AM - 07:00PM,2021-01-20,2021,1,20,6928074
6928074,6928298,1,7,900,1,3,T,2021-06-20,09:24 AM,4.0,...,4,2019.0,0,2021,09:00AM - 07:00PM,2020-10-17,2020,10,17,6928075
6928075,6928299,1,7,1400,2,1,T,2022-02-20,12:27 PM,3.0,...,4,2018.0,0,2021,NaN,2021-05-18,2021,5,18,6928076
6928076,6928300,1,7,400,2,2,T,2022-01-22,06:43 AM,2.0,...,5,2003.0,0,2021,NaN,2020-09-17,2020,9,17,6928077
6928077,6928301,1,7,1200,1,3,T,2022-12-08,07:10 AM,1.0,...,3,2016.0,0,2021,07:00AM - 06:00PM,2021-04-08,2021,4,8,6928078

In [4]:
np.random.seed(42)

df3 = df2.sample(10**6)

In [7]:

#df3 = df3.drop("Unnamed: 0", axis = 1) 
#df3
df3.to_csv('FINAL SUBSET.csv', index=False)

In [2]:
df3 = pd.read_csv('FINAL SUBSET.csv')

In [9]:
integer_array =[]

for i in df3['Violation County']:
    integer_array.append(int(i))
    
df3['Violation County'] = integer_array

In [19]:
first_order = ['House Number', 'Street Name', 'Violation County', 'Intersecting Street']

df3 = df3[[c for c in df3 if c not in first_order]+ first_order]

In [20]:
df_sub1 = df3.iloc[0:(df3.shape[0]//4),:]
df_sub2 = df3.iloc[df3.shape[0]//4:(2*(df3.shape[0]//4)),:]

In [21]:
#df_sub1.columns = df_sub1.columns.str.replace(" ", "_")


df_sub1

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Vehicle Expiration Date,Violation Time,Violation In Front Of Or Opposite,Sub Division,Vehicle Color,Vehicle Year,Feet From Curb,Year Set,Range,Date,Year,Month,Day,index,House Number,Street Name,Violation County,Intersecting Street
0,1,9,900,3,2,T,2019-07-31,11:30 AM,1.0,H,3,2013.0,0,2020,07:00AM - 04:00PM,2019-07-15,2019,7,15,2586741,N,W 41st St,1,55ft E/of Broadway
1,1,7,1200,2,3,T,2020-10-27,11:03 AM,1.0,C,3,2016.0,0,2021,07:00AM - 04:00PM,2020-11-16,2020,11,16,5082154,2151,Washington Ave,2,NaN
2,1,9,400,3,2,T,2021-05-31,10:36 AM,1.0,C,3,2016.0,0,2021,NaN,2020-08-24,2020,8,24,4385023,W,Broadway,1,5ft N/of W 106th St
3,1,7,1200,1,2,T,NaN,07:44 AM,2.0,C,1,NaN,0,2021,NaN,2021-05-12,2021,5,12,6287535,1275,York Ave,1,NaN
4,1,7,400,2,1,T,2022-06-21,10:41 AM,1.0,D,1,2010.0,0,2021,10:30AM - 12:00AM,2020-12-31,2020,12,31,3598066,144-11,76th Ave,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,3,7,600,2,5,P,2021-05-14,10:24 AM,1.0,E,1,2009.0,2,2021,ALL,2021-05-14,2021,5,14,3615467,517,W 144 ST,1,NaN
249996,1,7,400,4,2,T,2022-03-31,01:39 PM,1.0,D,4,2020.0,0,2021,08:00AM - 06:00PM,2020-10-27,2020,10,27,3250022,S,39th Ave,4,20ft W/of College Po
249997,1,7,1400,2,3,T,2021-04-02,09:57 AM,1.0,D,1,2014.0,0,2020,NaN,2019-09-26,2019,9,26,2798828,S,115th Ave,4,0ft E/of 148th St
249998,1,7,900,1,1,T,2021-01-29,04:44 PM,1.0,K,8,2008.0,0,2020,09:00AM - 07:00PM,2019-10-08,2019,10,8,2351628,S,Delancey St,1,30ft E/of Chrystie S
249999,1,9,400,3,1,T,2021-01-31,04:00 PM,2.0,I,4,2014.0,0,2020,NaN,2019-10-10,2019,10,10,1984635,50,E 89th St,1,NaN

In [22]:
df_sub2.columns = df_sub2.columns.str.replace(" ", "_")
#df_sub2 = df_sub2.drop("Unnamed:_0", axis = 1) 

df_sub2

,Registration_State,Plate_Type,Violation_Code,Vehicle_Body_Type,Vehicle_Make,Issuing_Agency,Vehicle_Expiration_Date,Violation_Time,Violation_In_Front_Of_Or_Opposite,Sub_Division,Vehicle_Color,Vehicle_Year,Feet_From_Curb,Year_Set,Range,Date,Year,Month,Day,index,House_Number,Street_Name,Violation_County,Intersecting_Street
250000,1,9,900,3,2,T,2020-03-31,09:51 AM,1.0,K,3,2004.0,0,2020,09:00AM - 07:00PM,2019-06-29,2019,6,29,1253221,1237,2nd Ave,1,NaN
250001,1,7,1200,1,1,T,NaN,10:49 AM,1.0,D,1,NaN,0,2021,NaN,2020-08-21,2020,8,21,3661320,2,W 64th St,1,NaN
250002,1,7,700,1,1,T,2019-07-09,04:56 PM,1.0,J,1,2006.0,0,2020,NaN,2019-07-12,2019,7,12,2725530,620,E 29th St,3,NaN
250003,1,7,1200,2,1,T,2023-03-08,00:48 AM,1.0,C,4,2018.0,0,2021,NaN,2021-04-21,2021,4,21,3723501,325,Blake Ave,3,NaN
250004,1,7,900,2,1,T,NaN,10:59 AM,1.0,H,3,NaN,0,2021,08:00AM - 07:00PM,2021-04-07,2021,4,7,4414292,3060,Westchester Ave,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,1,9,400,3,2,T,NaN,02:26 PM,1.0,I,3,2019.0,0,2021,NaN,2020-07-16,2020,7,16,5322719,10822,Queens Blvd,4,NaN
499996,1,7,400,2,1,T,2021-07-17,01:57 PM,1.0,D,8,2016.0,0,2021,NaN,2020-08-20,2020,8,20,6518811,407,E 77th St,1,NaN
499997,1,7,1000,3,1,T,NaN,12:22 PM,1.0,H,3,NaN,0,2020,07:00AM - 07:00PM,2020-03-09,2020,3,9,1530361,1220,Broadway,1,NaN
499998,1,7,700,2,2,T,2022-08-25,10:53 AM,1.0,J,3,2016.0,0,2021,NaN,2021-05-11,2021,5,11,6494985,1616,Coleman St,3,NaN
499999,1,9,400,3,2,T,2021-03-31,08:21 AM,1.0,D,1,2017.0,0,2021,08:00AM - 06:00PM,2020-08-31,2020,8,31,3116558,170,Mercer St,1,NaN

In [23]:
df_sub3 = df3.iloc[(2*(df3.shape[0]//4)):(3*(df3.shape[0]//4)),:]
df_sub4 = df3.iloc[(3*(df3.shape[0]//4)):(4*(df3.shape[0]//4)),:]

In [24]:
df_sub3.columns = df_sub3.columns.str.replace(" ", "_")


df_sub3

,Registration_State,Plate_Type,Violation_Code,Vehicle_Body_Type,Vehicle_Make,Issuing_Agency,Vehicle_Expiration_Date,Violation_Time,Violation_In_Front_Of_Or_Opposite,Sub_Division,Vehicle_Color,Vehicle_Year,Feet_From_Curb,Year_Set,Range,Date,Year,Month,Day,index,House_Number,Street_Name,Violation_County,Intersecting_Street
500000,1,9,1400,3,2,T,NaN,01:26 PM,1.0,F,3,NaN,0,2021,NaN,2021-02-23,2021,2,23,3499296,109,W Broadway,1,NaN
500001,1,7,1200,1,2,T,2019-11-19,01:00 PM,1.0,F,3,2008.0,0,2020,08:00AM - 06:00PM,2019-11-22,2019,11,22,49965,110,Duane St,1,NaN
500002,1,9,1200,3,2,T,NaN,11:16 AM,1.0,C,3,1999.0,0,2021,NaN,2020-12-01,2020,12,1,4739447,1,E Broadway,1,NaN
500003,1,7,900,1,3,T,2021-11-19,08:43 AM,1.0,H,4,2020.0,0,2021,08:00AM - 07:00PM,2021-03-17,2021,3,17,3190852,137,W Broadway,1,NaN
500004,1,7,400,1,1,T,NaN,08:42 AM,1.0,D,1,NaN,0,2021,08:30AM - 10:00AM,2020-08-14,2020,8,14,4973796,256,Prospect Pl,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749995,1,7,700,1,2,T,2021-09-20,03:28 PM,1.0,J,4,2020.0,0,2021,NaN,2020-12-02,2020,12,2,5529690,28-04,28th Ave,4,NaN
749996,1,7,900,1,1,T,2021-02-23,12:21 PM,2.0,H,1,2017.0,0,2021,08:00AM - 07:00PM,2021-01-22,2021,1,22,4096593,30,Graham Ave,3,NaN
749997,6,7,600,3,2,P,NaN,03:12 PM,2.0,E,3,NaN,0,2020,ALL,2019-11-22,2019,11,22,2456576,1,WEST 34TH STREET,1,NaN
749998,1,7,400,1,2,T,2022-05-31,04:22 PM,1.0,D,1,2010.0,0,2021,08:00AM - 06:00PM,2020-09-23,2020,9,23,6657827,145,E 27th St,1,NaN
749999,3,7,1400,1,1,T,NaN,12:55 PM,2.0,E,4,NaN,0,2021,NaN,2020-08-19,2020,8,19,5429447,503,Dekalb Ave,3,NaN

In [25]:
df_sub4.columns = df_sub4.columns.str.replace(" ", "_")

df_sub4

,Registration_State,Plate_Type,Violation_Code,Vehicle_Body_Type,Vehicle_Make,Issuing_Agency,Vehicle_Expiration_Date,Violation_Time,Violation_In_Front_Of_Or_Opposite,Sub_Division,Vehicle_Color,Vehicle_Year,Feet_From_Curb,Year_Set,Range,Date,Year,Month,Day,index,House_Number,Street_Name,Violation_County,Intersecting_Street
750000,1,7,900,2,3,T,2021-09-15,04:40 PM,1.0,D,1,2013.0,0,2021,08:00AM - 06:00PM,2020-10-21,2020,10,21,3275715,90,Prince St,1,NaN
750001,1,7,1200,2,1,T,2021-04-29,09:10 AM,2.0,D,3,2015.0,0,2020,07:00AM - 04:00PM,2019-11-04,2019,11,4,2160109,161,W 105th St,1,NaN
750002,1,7,1200,1,1,T,NaN,08:40 AM,2.0,K,4,NaN,0,2021,07:00AM - 04:00PM,2021-04-29,2021,4,29,6724085,1510,York Ave,1,NaN
750003,1,11,400,1,1,T,2021-06-30,04:30 PM,2.0,F,4,2015.0,0,2021,NaN,2020-08-10,2020,8,10,3172427,1204,Washington Ave,2,NaN
750004,1,7,1400,1,5,T,NaN,02:54 PM,1.0,F,11,NaN,0,2020,NaN,2020-04-20,2020,4,20,1779156,414,W 42nd St,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,1,7,700,2,3,T,2021-04-18,06:34 AM,1.0,D,1,2004.0,0,2020,NaN,2020-01-08,2020,1,8,2104212,78-08,86th Ave,4,NaN
999996,1,9,1400,3,1,T,NaN,08:55 PM,2.0,F,3,2017.0,0,2020,NaN,2019-10-08,2019,10,8,2270568,5860,55th Dr,4,NaN
999997,1,7,600,2,1,P,2021-02-24,12:08 AM,2.0,E,3,2005.0,0,2020,ALL,2019-06-19,2019,6,19,2727379,80,PALADINO AVE,1,NaN
999998,1,9,900,3,2,T,2022-08-31,11:31 AM,1.0,H,8,2018.0,0,2021,09:00AM - 07:00PM,2020-11-23,2020,11,23,5579510,29,E 73rd St,1,NaN
999999,1,7,1200,1,2,T,2021-08-02,08:32 AM,2.0,C,5,2017.0,0,2020,07:00AM - 10:00AM,2020-03-20,2020,3,20,1635670,12699,Flatlands Ave,3,NaN

In [27]:
df_testing = df_sub4.iloc[0:10**4,:]

In [26]:
df_sub1.to_csv("Subset 1 - Final.csv", index=False)
df_sub2.to_csv("Subset 2 - Final.csv", index = False)
df_sub3.to_csv("Subset 3 - Final.csv", index= False)
df_sub4.to_csv("Subset 4 - Final.csv", index=False)

In [28]:
df_testing.to_csv("Testing - Final.csv", index = False)

In [29]:
df_testing

,Registration_State,Plate_Type,Violation_Code,Vehicle_Body_Type,Vehicle_Make,Issuing_Agency,Vehicle_Expiration_Date,Violation_Time,Violation_In_Front_Of_Or_Opposite,Sub_Division,Vehicle_Color,Vehicle_Year,Feet_From_Curb,Year_Set,Range,Date,Year,Month,Day,index,House_Number,Street_Name,Violation_County,Intersecting_Street
750000,1,7,900,2,3,T,2021-09-15,04:40 PM,1.0,D,1,2013.0,0,2021,08:00AM - 06:00PM,2020-10-21,2020,10,21,3275715,90,Prince St,1,NaN
750001,1,7,1200,2,1,T,2021-04-29,09:10 AM,2.0,D,3,2015.0,0,2020,07:00AM - 04:00PM,2019-11-04,2019,11,4,2160109,161,W 105th St,1,NaN
750002,1,7,1200,1,1,T,NaN,08:40 AM,2.0,K,4,NaN,0,2021,07:00AM - 04:00PM,2021-04-29,2021,4,29,6724085,1510,York Ave,1,NaN
750003,1,11,400,1,1,T,2021-06-30,04:30 PM,2.0,F,4,2015.0,0,2021,NaN,2020-08-10,2020,8,10,3172427,1204,Washington Ave,2,NaN
750004,1,7,1400,1,5,T,NaN,02:54 PM,1.0,F,11,NaN,0,2020,NaN,2020-04-20,2020,4,20,1779156,414,W 42nd St,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
759995,1,7,400,4,2,T,2020-10-09,09:48 AM,1.0,D,1,2004.0,0,2020,09:30AM - 11:00AM,2019-07-19,2019,7,19,880747,34-65,107th St,4,NaN
759996,1,11,400,1,1,T,2021-08-31,12:17 PM,2.0,D,3,2015.0,0,2021,NaN,2021-05-25,2021,5,25,4441136,4612,8th Ave,3,NaN
759997,1,7,400,1,1,T,2022-07-21,08:34 AM,1.0,D,4,2020.0,0,2021,08:00AM - 09:30AM,2021-03-05,2021,3,5,4499629,136,Hart St,3,NaN
759998,1,7,1200,1,6,T,2021-10-09,01:21 AM,1.0,C,3,2019.0,0,2020,01:00AM - 06:00AM,2020-02-01,2020,2,1,674813,425,W 13th St,1,NaN
759999,1,7,400,2,3,T,NaN,03:10 PM,1.0,D,4,NaN,0,2021,NaN,2020-11-23,2020,11,23,3564472,3816,Secor Ave,2,NaN

In [5]:
first = pd.read_csv("Subset 1 - Final.csv")
for i, j in enumerate(first.columns):
    print(i,j)

0 Registration State
1 Plate Type
2 Violation Code
3 Vehicle Body Type
4 Vehicle Make
5 Issuing Agency
6 Vehicle Expiration Date
7 Violation Time
8 Violation In Front Of Or Opposite
9 Sub Division
10 Vehicle Color
11 Vehicle Year
12 Feet From Curb
13 Year Set
14 Range
15 Date
16 Year
17 Month
18 Day
19 index
20 House Number
21 Street Name
22 Violation County
23 Intersecting Street

In [4]:
secoond = pd.read_csv("Subset 2 - Final.csv")
for i, j in enumerate(secoond.columns):
    print(i,j)

0 Registration_State
1 Plate_Type
2 Violation_Code
3 Vehicle_Body_Type
4 Vehicle_Make
5 Issuing_Agency
6 Vehicle_Expiration_Date
7 Violation_Time
8 Violation_In_Front_Of_Or_Opposite
9 Sub_Division
10 Vehicle_Color
11 Vehicle_Year
12 Feet_From_Curb
13 Year_Set
14 Range
15 Date
16 Year
17 Month
18 Day
19 index
20 House_Number
21 Street_Name
22 Violation_County
23 Intersecting_Street

In [1]:

import pandas as pd
Third = pd.read_csv("Subset 3 - Final.csv")
for i, j in enumerate(Third.columns):
    print(i,j)

0 Registration_State
1 Plate_Type
2 Violation_Code
3 Vehicle_Body_Type
4 Vehicle_Make
5 Issuing_Agency
6 Vehicle_Expiration_Date
7 Violation_Time
8 Violation_In_Front_Of_Or_Opposite
9 Sub_Division
10 Vehicle_Color
11 Vehicle_Year
12 Feet_From_Curb
13 Year_Set
14 Range
15 Date
16 Year
17 Month
18 Day
19 index
20 House_Number
21 Street_Name
22 Violation_County
23 Intersecting_Street

In [2]:
Fourth = pd.read_csv("Subset 4 - Final.csv")
for i, j in enumerate(Fourth.columns):
    print(i,j)

0 Registration_State
1 Plate_Type
2 Violation_Code
3 Vehicle_Body_Type
4 Vehicle_Make
5 Issuing_Agency
6 Vehicle_Expiration_Date
7 Violation_Time
8 Violation_In_Front_Of_Or_Opposite
9 Sub_Division
10 Vehicle_Color
11 Vehicle_Year
12 Feet_From_Curb
13 Year_Set
14 Range
15 Date
16 Year
17 Month
18 Day
19 index
20 House_Number
21 Street_Name
22 Violation_County
23 Intersecting_Street

In [38]:
Fourth

,Registration_State,Plate_Type,Violation_Code,Vehicle_Body_Type,Vehicle_Make,Issuing_Agency,Vehicle_Expiration_Date,Violation_Time,Violation_In_Front_Of_Or_Opposite,Sub_Division,Vehicle_Color,Vehicle_Year,Feet_From_Curb,Year_Set,Range,Date,Year,Month,Day,index,House_Number,Street_Name,Violation_County,Intersecting_Street
0,1,7,900,2,3,T,2021-09-15,04:40 PM,1.0,D,1,2013.0,0,2021,08:00AM - 06:00PM,2020-10-21,2020,10,21,3275715,90,Prince St,1,NaN
1,1,7,1200,2,1,T,2021-04-29,09:10 AM,2.0,D,3,2015.0,0,2020,07:00AM - 04:00PM,2019-11-04,2019,11,4,2160109,161,W 105th St,1,NaN
2,1,7,1200,1,1,T,NaN,08:40 AM,2.0,K,4,NaN,0,2021,07:00AM - 04:00PM,2021-04-29,2021,4,29,6724085,1510,York Ave,1,NaN
3,1,11,400,1,1,T,2021-06-30,04:30 PM,2.0,F,4,2015.0,0,2021,NaN,2020-08-10,2020,8,10,3172427,1204,Washington Ave,2,NaN
4,1,7,1400,1,5,T,NaN,02:54 PM,1.0,F,11,NaN,0,2020,NaN,2020-04-20,2020,4,20,1779156,414,W 42nd St,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,1,7,700,2,3,T,2021-04-18,06:34 AM,1.0,D,1,2004.0,0,2020,NaN,2020-01-08,2020,1,8,2104212,78-08,86th Ave,4,NaN
249996,1,9,1400,3,1,T,NaN,08:55 PM,2.0,F,3,2017.0,0,2020,NaN,2019-10-08,2019,10,8,2270568,5860,55th Dr,4,NaN
249997,1,7,600,2,1,P,2021-02-24,12:08 AM,2.0,E,3,2005.0,0,2020,ALL,2019-06-19,2019,6,19,2727379,80,PALADINO AVE,1,NaN
249998,1,9,900,3,2,T,2022-08-31,11:31 AM,1.0,H,8,2018.0,0,2021,09:00AM - 07:00PM,2020-11-23,2020,11,23,5579510,29,E 73rd St,1,NaN
249999,1,7,1200,1,2,T,2021-08-02,08:32 AM,2.0,C,5,2017.0,0,2020,07:00AM - 10:00AM,2020-03-20,2020,3,20,1635670,12699,Flatlands Ave,3,NaN

In [39]:
f = pd.read_csv("Testing - Final.csv")
for i, j in enumerate(f.columns):
    print(i,j)

0 Registration_State
1 Plate_Type
2 Violation_Code
3 Vehicle_Body_Type
4 Vehicle_Make
5 Issuing_Agency
6 Vehicle_Expiration_Date
7 Violation_Time
8 Violation_In_Front_Of_Or_Opposite
9 Sub_Division
10 Vehicle_Color
11 Vehicle_Year
12 Feet_From_Curb
13 Year_Set
14 Range
15 Date
16 Year
17 Month
18 Day
19 index
20 House_Number
21 Street_Name
22 Violation_County
23 Intersecting_Street

In [40]:
f

,Registration_State,Plate_Type,Violation_Code,Vehicle_Body_Type,Vehicle_Make,Issuing_Agency,Vehicle_Expiration_Date,Violation_Time,Violation_In_Front_Of_Or_Opposite,Sub_Division,Vehicle_Color,Vehicle_Year,Feet_From_Curb,Year_Set,Range,Date,Year,Month,Day,index,House_Number,Street_Name,Violation_County,Intersecting_Street
0,1,7,900,2,3,T,2021-09-15,04:40 PM,1.0,D,1,2013.0,0,2021,08:00AM - 06:00PM,2020-10-21,2020,10,21,3275715,90,Prince St,1,NaN
1,1,7,1200,2,1,T,2021-04-29,09:10 AM,2.0,D,3,2015.0,0,2020,07:00AM - 04:00PM,2019-11-04,2019,11,4,2160109,161,W 105th St,1,NaN
2,1,7,1200,1,1,T,NaN,08:40 AM,2.0,K,4,NaN,0,2021,07:00AM - 04:00PM,2021-04-29,2021,4,29,6724085,1510,York Ave,1,NaN
3,1,11,400,1,1,T,2021-06-30,04:30 PM,2.0,F,4,2015.0,0,2021,NaN,2020-08-10,2020,8,10,3172427,1204,Washington Ave,2,NaN
4,1,7,1400,1,5,T,NaN,02:54 PM,1.0,F,11,NaN,0,2020,NaN,2020-04-20,2020,4,20,1779156,414,W 42nd St,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1,7,400,4,2,T,2020-10-09,09:48 AM,1.0,D,1,2004.0,0,2020,09:30AM - 11:00AM,2019-07-19,2019,7,19,880747,34-65,107th St,4,NaN
9996,1,11,400,1,1,T,2021-08-31,12:17 PM,2.0,D,3,2015.0,0,2021,NaN,2021-05-25,2021,5,25,4441136,4612,8th Ave,3,NaN
9997,1,7,400,1,1,T,2022-07-21,08:34 AM,1.0,D,4,2020.0,0,2021,08:00AM - 09:30AM,2021-03-05,2021,3,5,4499629,136,Hart St,3,NaN
9998,1,7,1200,1,6,T,2021-10-09,01:21 AM,1.0,C,3,2019.0,0,2020,01:00AM - 06:00AM,2020-02-01,2020,2,1,674813,425,W 13th St,1,NaN
9999,1,7,400,2,3,T,NaN,03:10 PM,1.0,D,4,NaN,0,2021,NaN,2020-11-23,2020,11,23,3564472,3816,Secor Ave,2,NaN